*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px 2px 0.3px black;
    border: 2px solid black;
    height: 220px;
    width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inp-text{
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px;
    margin-left: 15px;
}
#add-btn{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: medium;
    cursor: pointer;
}
#add-btn:hover{
    background-color: white;
    color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: medium;
    cursor: pointer;
}
#text-list{
    list-style: none;
    margin-left: 15px;
    margin-top: 10px;
}
#text-list ul li{
    background-color: rgb(189, 189, 189);
    color: #fff;
}